/* Google Font 'Mulish' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Shared style*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
    margin-left: 10px;
}
/*.......................................................................*/
/* start:- Header section style */
/*.......................................................................*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    padding-top: 30px;
    padding-right: 20px;
}
.nav-logo-and-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-logo-and-title h3{
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}
.nav-logo-and-title h3 span{
    color:#FF5400;
}
.nav-menu-bar{
    justify-content: space-between;
}
.nav-menu-bar ul{
    display: flex;
}
.nav-menu-bar a{
    text-decoration: none;
    color:#424247;
    font-size: 1.1rem;
    font-weight: 400;
}
.nav-menu-bar .nav-home{
    color:#FF5400;
    font-weight: 700;
}
.nav-menu-bar li{
    list-style: none;
}
/*.......................................................................*/
/*End:- Header section style */
/*.......................................................................*/

/*.......................................................................*/
/*Start: Media section */
/*.......................................................................*/

/* For Mobile Devices */
@media screen and (max-width:576px) {
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-logo-and-title{
        width: 300px;
        height: 40px;
        margin-left: 7px;
    }
    .nav-logo-and-title h3{
        color: #131318;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .nav-menu-bar ul{
        display: none;
    }
    .nav-bar-icon{
        width: 80px;
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
        background-repeat: no-repeat;
        background-image: url('../Images/icons/menu-bar.png');
    }
}

/*.......................................................................*/
/*End: Media section */
/*.......................................................................*/