/* Google Font 'Mulish' and 'Inter' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Shared style*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
    margin-left: 10px;
}
/*.......................................................................*/
/* start:- Header section style */
/*.......................................................................*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    padding-top: 30px;
    padding-right: 20px;
}
.nav-logo-and-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-logo-and-title h3{
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}
.nav-logo-and-title h3 span{
    color:#FF5400;
}
.nav-menu-bar{
    justify-content: space-between;
}
.nav-menu-bar ul{
    display: flex;
}
.nav-menu-bar a{
    text-decoration: none;
    color:#424247;
    font-size: 1.1rem;
    font-weight: 400;
}
.nav-menu-bar .nav-home{
    color:#FF5400;
    font-weight: 700;
}
.nav-menu-bar li{
    list-style: none;
}
/*.......................................................................*/
/*End:- Header section style */
/*.......................................................................*/

/*.......................................................................*/
/*Start:- Main section style */
/*.......................................................................*/

/* Start: Banner Section */
.banner{
    margin-top: 50px;
    text-align: center;
    border: 1px solid white;
    width: 100%;
    height: 570px;
    background-image: url('../Images/banner.png');
    background-repeat: no-repeat ;
    background-size: 1365px;
}
#banner-title{
    margin-top: 120px;
    padding-top: 20px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
#banner-title-description{
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}
#banner-input-section{
    margin-top: 40px;
    display: inline-flex;
    padding: 16px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}
#banner-input-section input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}
#banner-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    background-color: #FF5400;
    width: 174px;
    height: 52px;
}
#banner-btn img{
    padding-right: 15px;
    width: 20px;
    height: 20px;
}
/* End: Banner Section*/
/*.............................................................................................*/
/*Start: Our Popular Tours section */
.popular-tour-section{
    width: 100%;
    margin-right: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.popular-tour-description{
    margin-top: 80px;
}
.popular-tour-description h3{
    padding-bottom: 20px;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.tour-description-section{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.tour-description-section #top-tour, ul>li, #global-travel{
    padding:10px;
}
.popular-tour-btn{
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.popular-tour-section img{
    width: 500px;
    height: 530px;
    margin-right: 45px;
}
/*End: Our Popular Tours section */

/*.......................................................................*/   
/* start: Deals & Discounts */
.deals-discount-description h3{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.deals-discount-description p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.discount-page1,.discount-page2,.discount-page3{
    position: relative;
    width: 1400px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 1360px;
}
.discount-page1,.discount-page3{
    background-image: url('../Images/Group39.png');
}
.discount-page2{
    background-image: url('../Images/Group40.png');
}
.discount-description1,.discount-description3{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 500px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.discount-description2{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.discount-description1 h3,.discount-description2 h3,.discount-description3 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
}
.discount-description-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF5400;
}
.area-discount-description{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
    display: flex;
    align-items: start;
}

#discount-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
#discount-price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}
#discount-btn{
    width: 150px;
    height: 52px;
    font-size: 20px;
    border-radius: 8px;
    margin-top:20px;
    margin-left: 0;
    border: 0;
    color: #FFF;
    background: #FF5400;
}
/* End: Deals & Discounts */
/*.............................................................................................*/
/* Start: A Simple Perfect Place To Get Lost */
.simple-perfect-place{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.simple-perfect-place-description{
    padding-top: 70px;
    width: 900px;
    height: 500px;
}

.simple-perfect-place-description h3{
    width: 450px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.simple-perfect-place-description p{
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.simple-perfect-place-description>ul>li{
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}
.out-mountain{
    margin-left:220px;
    width: 1000px;
    height: 500px;
    background-image: url('../Images/Group40089.png');
    background-repeat: no-repeat;
}
.out-mountain p{
    padding-top: 30%;
    margin-left: 25%;
    width: 276px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
/* End: A Simple Perfect Place To Get Lost */
/*.............................................................................................*/
/* Start: Newsletter Section */
.Newsletter{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.Newsletter-description{
    padding:20px;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #FF5400;
}
.Newsletter-description h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.Newsletter-description p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.Newsletter-input{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.Newsletter-input input{
    width: 393px;
    height: 52px;
    border: 0;
    border-radius: 10px;
    background: rgba(19, 19, 24, 0.05);
}
.Newsletter-input .Newsletter-btn{
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.Newsletter img{
    width: 700px;
    height: 400px;
    margin-right: 10px;
}
.Newsletter-img-section{
    position: relative;
}
.Newsletter-img-offer{
    padding-top: 30px;
    width: 300px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    position: absolute;
    color: #FFF;
    text-align: center;
    top:190px;
    right:25px;
    z-index: 1;
    background: #FF5400;
}
.Newsletter-img-offer p{
    color: #FFF;
    padding-top: 15px;
    font-size: 32px;
    font-weight: 800;
}
/* End: Newsletter Section */
/*.............................................................................................*/
/* Start: Footer Section */
footer{
    text-align: center;
    margin:10px;
    width:100%;
    padding-left: 100px;
    margin-left:30px;
    margin-right: 30px;
    height: 500px;
    color:#131318;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 10px;
}
.footer-logo-and-title{
    margin-top: 50px;
    padding-top: 100px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}
.footer-logo-and-title span{
    color: #FF5400;
    font-weight: 800;
}

.footer-description{
    margin-top: 20px;
    text-align: center;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400; 
}

.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-icon img{
    height: 30px;
    width: 30px;
}

.footer-hr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copy-right{
    padding-top: 50px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

/*.......................................................................*/
/*End:- Main section style */
/*.......................................................................*/


/*.............................................................................................*/


/*.......................................................................*/
/*Start: Media section */
/*.......................................................................*/

/* For Mobile Devices */
@media screen and (max-width:600px) {
    /*Start: nav section */
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-logo-and-title{
        width: 300px;
        height: 40px;
        margin-left: 3px;
    }
    .nav-logo-and-title h3{
        color: #131318;
        font-size: 1.4rem;
        font-weight: 600;
        padding-top: 5px;
    }
    .nav-menu-bar ul{
        display: none;
    }
    .nav-bar-icon{
        width: 70px;
        height: 50px;
        margin-right:-20px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-image: url('../Images/icons/menu-bar.png');
    }
    /*End: nav section */
/*.......................................................................*/
    /*Start: banner section */
    .banner{
        margin-top: 0;
        margin-left: -10px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        height: 550px;
    }
    #banner-title{
        margin-top: 50px;
        padding-top: 20px;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 800;
    }
    #banner-title-description{
        text-align: center;
        color: #FFF;
        font-size: 16px;
    }
    #banner-input-section{
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
        gap: 10px;
        width: 280px;
        justify-content: center;
        align-items: center;
    }

    #banner-input-section input{
        width: 220px;
        height: 50px;
        border-radius: 8px;
        border: none;
    }
    #banner-btn{
        width: 220px;
        height: 50px;
    }
    /*End: banner section */
/*.......................................................................*/
    /*Start: Our Popular Tours section */
    .popular-tour-section{
        width: 100%;
        margin-top: -30px;
        margin-left: -20px;
        display: flex;
        justify-content: space-between;
    }
    .popular-tour-description h3{
        padding-bottom: 20px;
        color: #131318;
        font-size: 2rem;
        font-weight: 700;
    }
    .tour-description-section{
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
    }
    
    .popular-tour-section{
        flex-direction: column;
    }
    .popular-tour-section img{
        width: 410px;
        height: 450px;
        margin-top: 20px;
    }
    .popular-tour-btn{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        width: 150px;
        height: 40px;
    }
    .popular-tour-section img{
        width: 350px;
        height: 530px;
        margin-right: 45px;
    }
    /*End: Our Popular Tours section */
/*.......................................................................*/   
    /* start: Deals & Discounts */
    .deals-discount-description{
        margin-left: -10px;
        width: 350px;
    }
    .deals-discount-description h3{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #131318;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    .deals-discount-description p{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 16px;
        padding-bottom: 30px;
    }
    .discount-page1,.discount-page2,.discount-page3{
        position: relative;
        width: 320px;
        height: 900px;
        border-radius: 16px;
        background-size: 1000px;
        margin-bottom: -450px;
    }
    .discount-description1,.discount-description2,.discount-description3{
        position: absolute;
        top: 10px;
        left: 5px;
        width: 280px;
        height: 350px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
    }
    .area-discount-description{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -10px;
        display: flex;
        align-items: start;
    }
    .discount-description-img{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #FF5400;
    }
    .discount-description-img p{
        font-size: 10px;
    }
    /* End: Deals & Discounts */
/*.......................................................................*/   
    /* Start: A Simple Perfect Place To Get Lost */
   .simple-perfect-place{
    flex-direction: column;
    }

    .simple-perfect-place-description{
        padding-top: 30px;
        width: 500px;
        /* height: 700px; */
    }

    .simple-perfect-place-description h3{
        width: 400px;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .simple-perfect-place-description p{
        width: 400px;
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
    }
    .simple-perfect-place-description>ul>li{
        width: 350px;
        color: #131318;
        font-size: 16px;
        font-weight: 700;
    }
    .out-mountain{
        /* margin-left:220px; */
        width: 430px;
        height: 500px;
        margin-left: 10px;
        margin-top: -60px;
        border-radius: 20px;
        background-image: url('../Images/Group40089.png');
        background-repeat: no-repeat;
    }
    .out-mountain p{
        padding-top: 35%; 
        margin-left: 20%;
        width: 276px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }
   /*End: A Simple Perfect Place To Get Lost */
/*.......................................................................*/
    /* Start: Footer Section */
    footer{
        padding-left: 5px;
        margin-right: 40px;
        width: 90%;
    }
    .footer-logo-and-title{
        margin-top: 30px;
        padding-top: 80px;
        font-size: 1.5rem;
    }
    .footer-logo-and-title span{
        font-weight: 700;
    }
    /* End: Footer Section */

    /* start: Newsletter Section */
    .Newsletter{
        display: flex;
        flex-direction: column;
    }
    .Newsletter-description{
        padding:15px;
        width: 380px;
        height: 350px;
        margin-bottom: 20px;
    }
    .Newsletter-input input{
        width: 340px;
        height: 45px;
    }
    .Newsletter img{
        width: 420px;
        height: 400px;
    }
}
/*.......................................................................*/
/*End: Media section */
/*.......................................................................*/